<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About Me</h1>
    <p>I'm a Passionate Front End Developer, Aspiring Full stack. I started my journey into tech Last year 2021 starting with python but later moved to web development early February this Year 2022. Looking forward to opportunities to help boost my Tech journey.</p>
    <p>I am currently a student, studying Medical Biochemistry. At Northwest University Kano. I am a self taught programmer, I use YouTube for learning.</p>
</body>
</html>