<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="/about">About me</a>
        <a href="/contact">Contact me</a>
    </nav>
    <h1>My Bio</h1>
    <img src="https://pbs.twimg.com/profile_images/1527789699657613317/_Es2l3FH_400x400.jpg" alt="">
    <p><strong>First Name: </strong>Imran</p>
    <p><strong>Last Name: </strong>Abubakar</p>
    <p><strong>Email: </strong>imranabubakar943@gmail.com</p>
    <p><strong>Address: </strong>No.1 lautai rd, kano</p>
    <p><strong>Education: </strong>Undergraduate</p>
    <p><strong>Occupation: </strong>Unemployed</p>
    <p><strong>Hobbies: </strong>coding</p>
    <p><strong>Skills: </strong>Html, Css and Javascript</p>
    <p><strong>Nationality: </strong>Nigeria</p>
</body>
</html>